on:
    workflow_dispatch:
    pull_request:
permissions: read-all
name: Rust CI
jobs:
    check-lint:
      name: Check lints
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v4
        - uses: taiki-e/install-action@just
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            components: clippy
        - uses: Swatinem/rust-cache@v2.8.0

        - name: Install deps
          run: just install-viz-deps
        - name: Check lints
          run: just lint

    check-wasm:
      name: Check wasm
      runs-on: ubuntu-latest-8-cores
      steps:
        - uses: actions/checkout@v4
        - uses: taiki-e/install-action@just
        - name: Install Rust
          uses: dtolnay/rust-toolchain@stable
          with:
            targets: wasm32-unknown-unknown
        - uses: Swatinem/rust-cache@v2.8.0
        - name: Install wasm
          run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

        - name: Check lints
          run: just check-wasm
 
    cargo-fmt:
        name: Check formatting
        runs-on: ubuntu-latest-8-cores
        steps:
          - uses: actions/checkout@v4
          - uses: taiki-e/install-action@just
          - name: Install Rust
            uses: dtolnay/rust-toolchain@stable
            with:
                components: rustfmt
          - uses: cargo-bins/cargo-binstall@main
          - name: Install deps
            run: cargo binstall cargo-sort typos-cli
          - name: Run checks
            run: just fmt-check

